.carouselWrap{
    width:1280 px;
    display: flex;
    .container{
        width: 202px;
        background-color: white;
        display: inline-block;
        text-align: center;
        margin:6px;
        
        .longItem{
            background-color: white;
            position: relative;
            padding:14px;
            height: 245px;
            box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
            cursor:pointer;
            .black-opacity{
                left:14px;
                position: absolute;
                opacity: 0.3;
                background-color: black;
                z-index:4;
                width:177px;
                height:217px;
            }
            .icon{
                position: absolute;
                width:16px;
                height:20px;
                top: 40%;
                left: 45%;
                color: white;
                z-index:5;
            }
            p{
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                font-size: 20px;
                z-index:5;
            }
        }
        .shortItem{
            background-color: white;
            position: relative;
            height: 120px;
            padding:7px;
            box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
            margin-bottom: 5px;
            cursor:pointer;
            .black-opacity{
                left:8px;
                position: absolute;
                opacity: 0.3;
                background-color: black;
                z-index:4;
                width:185px;
                height:106px;
            }
            .icon{
                position: absolute;
                width:16px;
                height:20px;
                top: 40%;
                left: 45%;
                color: white;
                z-index:5;
            }
            p{
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                font-size: 20px;
                z-index:5;
            }
        }
    }
    .icon{
        color: white;
    }
}

.mainCity{
    width: 1280px;
    margin:0px auto;
    margin-top:30px;
    padding: 50px 107px 0px 107px;
    background-color: #F6F7FB;
    z-index: 1; 
    position: relative;
    .carouselIconPrev{
        position:absolute; 
        left: 50px;
        bottom: 125px;
        background-color: white;
        width:32px;
        height:32px;
        border-radius: 6px;
        box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
        cursor: pointer;     
        .prev{
            position:absolute; 
            left: -2px;
            top: 11px;
            padding-left: 10px;
            border: 5px solid;
            border-color: transparent black transparent transparent;   
              
        }
    }
    .carouselIconNext{
        position:absolute; 
        right: 50px;
        bottom: 125px;
        background-color: black;
        width:32px;
        height:32px;
        border-radius: 6px;
        box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);     
        cursor: pointer;    
        .next{
            position:absolute; 
            right: -2px;
            top: 11px;
            padding-left: 10px;
            border: 5px solid;
            border-color: transparent transparent transparent white;    
        }
    }
    .title{
        font-size: 20px;
        margin-bottom:13px;
        .icon{
            width:0px;
            height:0px; 
            margin-right: 14px;
            border: solid;
            border-width: 0px 10px 16px 10px ;
            border-color: transparent transparent $attractionsTheme transparent; 
            display:inline-block;
        }
    }
}

.mainActivities{
    width: 1280px;
    margin:0px auto;
    margin-top:10px;
    padding: 50px 107px 0px 107px;
    background-color: #F6F7FB;
    z-index: 1; 
    .title{
        font-size: 20px;
        margin-bottom:13px;
        .icon{
            width:0px;
            height:0px; 
            margin-right: 14px;
            border: solid;
            border-width: 0px 10px 16px 10px ;
            border-color: transparent transparent $attractionsTheme transparent; 
            display:inline-block;
        }
    }
    .activities{    
        z-index: 1;  
        display: flex;  
        justify-content: flex-start;
        flex-wrap:wrap;
        .activityWrap{
            margin-bottom:48px;
            margin-right: 9px;
            .activity{   
                position:relative;  
                width: 522px;
                height: 242px;
                z-index: 3;
                background-color: white;
                display:flex;      
                padding:16px;     
                .image{
                    margin-right:16px;
                    img{
                        width: 187px;
                        height:196px;
                    }
                }
                .content{                
                    display:flex;
                    flex-direction: column;
                    width:278px;
                    .name{
                        font-size: 16px;
                    }
                    .description{
                        color:#ACACAC;
                        font-weight: 400;
                        line-height: 21px;
                        p{
                            display:-webkit-box;
                            height:102px;
                            width:278px;
                            text-overflow: ellipsis; 
                            white-space:normal;
                            overflow:hidden;
                            -webkit-line-clamp: 5;
                            -webkit-box-orient: vertical;
                        }
                        
                    }
                    .detailArea{
                        display: flex;
                        justify-content: space-between;
                        flex-direction: row;
                        align-items: center;
                        .location{
                            width:150px;
                            img{
                                margin-right:6px;
                            }
                        }
                        .infomation{
                            border: 1px solid $attractionsTheme;
                            color:$attractionsTheme;
                            border-radius: 6px;
                            display: flex;
                            justify-content: center;
                            padding:10px 20px;
                            cursor:pointer;
                        }
                    }
                }
            }
        }
        .searchShadow{
            width: 522px;
            position: relative;
            .shadow{
                &:first-child{
                    position: absolute;   
                    z-index:2;         
                    top:-30px;
                    left: 4px;
                    background-color: #E5E5E5;
                    opacity: 0.3;
                    filter: blur(3px);
                    border-color:  #0D0B0C transparent  transparent  transparent;
                    border-style: solid;
                    border-width: 52px 520px 0 0;
                }
                &:last-child{
                    position: absolute;
                    z-index:2;
                    top:-30px;
                    right:3px;
                    background-color: #E5E5E5;
                    opacity: 0.3;
                    filter: blur(3px);
                    border-color:  transparent #0D0B0C transparent transparent;
                    border-style: solid;
                    border-width: 0px 520px 52px 0;
                }
        
            }
        }
    }
}

.mainFood{
    width: 1280px;
    margin:0px auto;
    padding: 50px 107px;
    background-color: #F6F7FB;
    z-index: 1; 
    .title{
        font-size: 20px;
        margin-bottom:13px;
        .icon{
            width:20px;
            height:20px; 
            margin-right: 14px;
            background-color: $foodTheme;
            display:inline-block;
        }
    }
    .activities{    
        z-index: 1;  
        display: flex;  
        justify-content: flex-start;
        flex-wrap:wrap;
        .activityWrap{
            margin-bottom:48px;
            margin-right:6px;
            &:last-child{
                margin-right:0px;
            }
            .activity{   
                cursor: pointer;
                position:relative;  
                width: 206px;
                z-index: 3;
                background-color: white;
                display:flex;  
                justify-content: space-between;
                flex-direction: column;    
                padding:16px;     
                .image{                    
                    pointer-events: none;
                    margin-right:16px;
                    img{                        
                        pointer-events: none;
                        width: 182px;
                        height:137px;
                    }
                }
                .location{                    
                    pointer-events: none;
                    margin-top: 9.5px;
                    color:#007350;
                    font-weight: 300;
                    font-size:12px;
                    display:flex;
                    align-items: center;
                }
                .name{
                    pointer-events: none;
                    line-height:21px;
                    font-size: 16px;
                    margin-top: 10px;
                    width: 181px;
                    height: 63px;
                }
                .location{
                    pointer-events: none;
                    img{
                        margin-right:6px;                            
                    }
                }
                           
            }
        }
        .searchShadow{
            width: 206px;
            position: relative;
            .shadow{
                &:first-child{
                    position: absolute;   
                    z-index:2;         
                    top:-35px;
                    left: 3px;
                    background-color: #E5E5E5;
                    opacity: 0.3;
                    filter: blur(3px);
                    border-color:  #0D0B0C transparent  transparent  transparent;
                    border-style: solid;
                    border-width: 52px 206px 0 0;
                }
                &:last-child{
                    position: absolute;
                    z-index:2;
                    top:-35px;
                    right:3px;
                    background-color: #E5E5E5;
                    opacity: 0.3;
                    filter: blur(3px);
                    border-color:  transparent #0D0B0C transparent transparent;
                    border-style: solid;
                    border-width: 0px 206px 52px 0;
                }
        
            }
        }
        .noResults{
            height: 300px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            img{
                height: 53px;
                width: 53px;                
                margin: auto;
            }
            .vertical{
                display: flex;
                flex-direction: column;
                justify-content: center;
                p{
                    margin:3px 5px;
                    display:inline;
                    &:first-child{
                        color:#FFB72C;
                        font-family: 'Roboto';                                                
                        font-weight: 800;
                        font-size: 20px;
                    }
                    &:last-child{
                        color: #D2D2D2;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}


.searchResults{
    width: 1280px;
    margin:0px auto;
    padding: 50px 107px;
    background-color: #F6F7FB;
    z-index: 1; 
    .title{
        font-size: 20px;
        margin-bottom:13px;
        .icon{
            width:20px;
            height:20px; 
            margin-right: 14px;
            background-color: $foodTheme;
            display:inline-block;
        }
    }
    .activities{    
        z-index: 1;  
        display: flex;  
        justify-content:flex-start;
        flex-wrap:wrap;
        margin-bottom: 20px;
        max-height: 1450px;
        .activityWrap{
            margin-bottom:48px;
            margin-right: 6px;
            &:last-child{
                margin-right: 0px;
            }
            .activity{   
                cursor: pointer;
                position:relative;  
                width: 206px;
                z-index: 3;
                background-color: white;
                display:flex;  
                justify-content: space-between;
                flex-direction: column;    
                padding:16px;     
                .image{
                    pointer-events: none;
                    margin-right:16px;
                    img{
                        pointer-events: none;
                        width: 182px;
                        height:137px;
                    }
                }
                .location{
                    pointer-events: none;
                    margin-top: 9.5px;
                    color:#007350;
                    font-weight: 300;
                    font-size:12px;
                    display:flex;
                    align-items: center;
                }
                .name{
                    pointer-events: none;
                    line-height:21px;
                    font-size: 16px;
                    margin-top: 10px;
                    width: 181px;
                    height: 63px;
                }
                .location{
                    pointer-events: none;
                    img{
                        pointer-events: none;
                        margin-right:6px;                            
                    }
                }
                           
            }
        }
        .searchShadow{
            width: 206px;
            position: relative;
            .shadow{
                &:first-child{
                    position: absolute;   
                    z-index:2;         
                    top:-35px;
                    left: 3px;
                    background-color: #E5E5E5;
                    opacity: 0.3;
                    filter: blur(3px);
                    border-color:  #0D0B0C transparent  transparent  transparent;
                    border-style: solid;
                    border-width: 52px 206px 0 0;
                }
                &:last-child{
                    position: absolute;
                    z-index:2;
                    top:-35px;
                    right:3px;
                    background-color: #E5E5E5;
                    opacity: 0.3;
                    filter: blur(3px);
                    border-color:  transparent #0D0B0C transparent transparent;
                    border-style: solid;
                    border-width: 0px 206px 52px 0;
                }
        
            }
        }
        .noResults{
            height: 300px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            img{
                height: 53px;
                width: 53px;                
                margin: auto;
            }
            .vertical{
                display: flex;
                flex-direction: column;
                justify-content: center;
                p{
                    margin:3px 5px;
                    display:inline;
                    &:first-child{
                        color:#FFB72C;
                        font-family: 'Roboto';                                                
                        font-weight: 800;
                        font-size: 20px;
                    }
                    &:last-child{
                        color: #D2D2D2;
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .pageChange{
        display:inline-flex;
        justify-content: center;
        margin: 0px auto;
        width: 100%;
        .pageWrap{
            width: 400px;
            display:inline-flex;
            justify-content: center;
            .page{
                padding: 5px;
                margin: 0px 5px;
                cursor: pointer;
                font-size: 20px;       
                width:32px;
                height:32px;
                &.active{
                    color:$attractionsTheme;
                       
                }
            }
        }
        .prevIcon{ 
            padding: 10px 16px 10px 8px; 
            margin-right: 20px;
            background-color: black;
            width:32px;
            height:32px;
            border-radius: 6px;
            box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
            cursor: pointer;    
            .prev{
                // padding-left: 10px;
                border: 5px solid;
                border-color: transparent white transparent transparent;   
            }
        }

        .nextIcon{
            padding: 10px 10px 10px 14px;            
            margin-left: 20px;
            background-color: $attractionsTheme;
            width:32px;
            height:32px;
            border-radius: 6px;
            box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);     
            cursor: pointer;    
            .next{
                // padding-left: 10px;
                border: 5px solid;
                border-color: transparent transparent transparent white;    
            }
        } 


    }
}