@mixin navIcon($theme){
    width:34px;
    height:34px; 
    border-radius:999em;
    background-color:$theme;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

*{    
    font-family: $navFontFamily; 
    box-sizing: border-box;   
} 

.navWrap{
    width:1280px;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 29px 108px 18px 108px ;
    background-color: white;
    .navLogo{
        display: block;
    }
    .navMap{    
        display: block;      
        padding-top: 30px;  
        span.attractionsTheme{
            display: inline;   
            padding: 5px 10px;             
            .navIcon{
                @include navIcon($attractionsTheme);
                .navInsideIcon{                    
                    width:0px;
                    height:0px; 
                    border: solid;
                    border-width: 0 5.5px 9px 5.5px;
                    border-color: transparent transparent white transparent;              
                }
            }
            
            a{
                color: $attractionsTheme;
                text-decoration: underline;    

            }   
        }
        span.foodTheme{
            display: inline;   
            padding: 5px 10px;             
            .navIcon{
                @include navIcon($foodTheme);
                .navInsideIcon{
                    width:11px;
                    height:11px; 
                    background-color:white;
                    margin:11px;                    
                }
            }
            
            a{
                color: $foodTheme;
                text-decoration: underline;      
                font-family: $navFontFamily;
            }   
        }
        span.transportationTheme{
            display: inline;   
            padding: 5px 10px;             
            .navIcon{
                @include navIcon($transportationTheme);
                .navInsideIcon{
                    width:11px;
                    height:11px; 
                    border-radius:999em;
                    background-color:white;
                    margin:11px;                       
                }
            }
            
            a{
                color: $transportationTheme;
                text-decoration: underline;     
                font-family: $navFontFamily;   
            }   
        }
    }
    
}

.attractionsTheme{
    a{
        color: $attractionsTheme;
    }
}

.foodTheme{
    color: $foodTheme;
}

.transportationTheme{
    color: $transportationTheme;
}