

*{    
    font-family: $navFontFamily; 
    box-sizing: border-box;   
} 

.navWrap{
    max-width:1280px;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 29px 108px 18px 108px ;
    background-color: white;    
    @include mobile{
        flex-direction: column;
    }
    .navLogo{
        display: block;
        @include mobile{
            display: flex;
            justify-content: center;
        
        }
    }
    .navMap{    
        display: block;      
        padding-top: 30px;  
        span.attractionsTheme{
            display: inline;   
            padding: 5px 10px;             
            .navIcon{
                @include navIcon($attractionsTheme);
                .navInsideIcon{                    
                    width:0px;
                    height:0px; 
                    border: solid;
                    border-width: 0 5.5px 9px 5.5px;
                    border-color: transparent transparent white transparent;              
                }
            }
            
            a{
                color: $attractionsTheme;
                text-decoration: underline;    

            }   
        }
        span.foodTheme{
            display: inline;   
            padding: 5px 10px;             
            .navIcon{
                @include navIcon($foodTheme);
                .navInsideIcon{                    
                    width:0px;
                    height:0px; 
                    border: solid;
                    border-width: 0 5.5px 9px 5.5px;
                    border-color: transparent transparent white transparent;              
                }
            }
            
            a{
                color: $foodTheme;
                text-decoration: underline;      
                font-family: $navFontFamily;
            }   
        }
        span.transportationTheme{
            display: inline;   
            padding: 5px 10px;             
            .navIcon{
                @include navIcon($transportationTheme);
                .navInsideIcon{
                    width:11px;
                    height:11px; 
                    border-radius:999em;
                    background-color:white;
                    margin:11px;                       
                }
            }
            
            a{
                color: $transportationTheme;
                text-decoration: underline;     
                font-family: $navFontFamily;   
            }   
        }
    }
    .mobileMap{    
        display: none;      
        width:326px;
        height:40px;
        box-shadow: 0px 2px 4px rgba(13, 11, 12, 0.2);
        border-radius: 6px;
        margin: 0px auto;
        padding: 9.5px 31px;
        @include mobile{
            display: flex;            
            justify-content:space-around;
        }
        span.attractionsTheme{
            display: inline;   
            // padding: 5px 10px;            

            a{
                color: $attractionsTheme;
                text-decoration: none;    
                font-size: 14px;
            }   
        }
        span.foodTheme{
            display: inline;   
            // padding: 5px 10px;             
            margin: 0px 24px 0px 24px;
            a{
                color: #ACACAC;
                font-size: 14px;
                text-decoration: none;     
                font-family: $navFontFamily;
            }   
        }
        span.transportationTheme{
            display: inline;   
            // padding: 5px 10px;            

            a{
                color: #ACACAC;
                text-decoration: none;      
                font-family: $navFontFamily;
                font-size: 14px;   
            }   
        }
    }   
}

.navWrap{
    @include mobile{
        max-width: 414px;
        justify-content:center;
        padding: 15px 0px 13px 0px;
    }
                
    .navMap{
        @include mobile{
            display: none;
        }
    } 
}



.attractionsTheme{
    a{
        color: $attractionsTheme;
    }
}

.foodTheme{
    color: $foodTheme;
}

.transportationTheme{
    color: $transportationTheme;
}