.popWrap{   
    position:fixed;
    z-index:10;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    padding: 73px;
    margin:0px auto;
    background: rgba(210, 210, 210, 0.75);
    backdrop-filter: blur(28px);
    display:flex;
    justify-content: center;
    .container{
        width: 676px;
        height: 810px;
        padding:32px;
        margin-right:12px;
        background: white;
        .photo{
            img{
               width: 612px;
               height: 459px; 
            }
        }
        .changeBtn{
            position:relative; 
            display: block;
            height: 32px;
            margin: 22px 0px;
            .prevIcon{
                position:absolute; 
                // left: 50px;
                // bottom: 150px;
                right: 50px;
                background-color: white;
                width:32px;
                height:32px;
                border-radius: 6px;
                box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
                cursor: pointer;    
                .prev{
                    position:absolute; 
                    left: -2px;
                    top: 11px;
                    padding-left: 10px;
                    border: 5px solid;
                    border-color: transparent black transparent transparent;   
                }
            }

            .nextIcon{
                position:absolute; 
                right: 10px;
                // bottom: 150px;
                background-color: black;
                width:32px;
                height:32px;
                border-radius: 6px;
                box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);     
                cursor: pointer;    
                .next{
                    position:absolute; 
                    right: -2px;
                    top: 11px;
                    padding-left: 10px;
                    border: 5px solid;
                    border-color: transparent transparent transparent white;    
                }
            }            
        }
        .name{
            font-size: 18px;
            margin-bottom: 22px;
        }
        .description{
            height: 65px;
            font-size: 14px;
            margin-bottom: 22px;
            line-height: 21px;
            overflow: auto;
            &::-webkit-scrollbar{
                width: 5px;
                background-color: #F5F5F5;
            }
            &::-webkit-scrollbar-thumb{                   
                background-color: $attractionsTheme;
            }
        }
        .infoWrap{
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            .infoA{
                display: flex;
                justify-content:space-between;
                flex-direction: column;
                font-size: 14px;
                height:70px;

                .openingHour{
                    display:flex;
                    align-items: center;
                    img{
                        margin-right:12px;
                        height:19px;
                        width: 19px;
                    }
                }
                .address{
                    display:flex;
                    align-items: center;
                    img{
                        margin-right:12px;
                        height:19px;
                        width: 16px;
                    }
                }
            }
            .infoB{
                display: flex;
                justify-content:space-between;
                flex-direction: column;
                padding-right: 100px;
                font-size: 14px;
                height:70px;
                .ticketPrice{
                    display:flex;
                    align-items: center;
                }
                .tel{
                    display:flex;
                    align-items: center;
                }
                img{
                    margin-right:12px;
                    width:20px;
                }
            }
        }
    }
    .closeBtn{
        display:fixed;
        height:45px;
        width:45px;
        background-color: $attractionsTheme;
        color: white;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        cursor: pointer; 
        &::before{
            content:'\2716';
            font-size: 20px;
            padding: 1px;
        }
    }
}